body{
    overflow-x: hidden;
    background: linear-gradient(-45deg, #fff, #fff, #ffd6d6, #fffbc2, #fffbc2);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
/*^^ https://codepen.io/P1N2O/pen/pyBNzX ^^*/

/* Blurred hero image (https://jsfiddle.net/Will_law/Lo0n9g2y/) */
.heroImage-wrapper{
    width: 100%;
    height: 400px;
    overflow: hidden
}

.heroImage{
    background-image: url(https://marvel-b1-cdn.bc0a.com/f00000000290162/images.ctfassets.net/2htm8llflwdx/56BgnFdpJhvQwonBTZsqD7/d61c705e9187e1dc140dbe4621a24718/Shorelight_RNB_Partner_News_Article.jpg?fit=thumb);
    width: 105%;
    height: 105%;
    margin: -5px;
    filter: blur(5px);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    background: linear-gradient(to left, #560319, #FF2400);
}

.navbar-brand {
    filter: drop-shadow(1px 1px 0px #fff) drop-shadow(-1px -1px 0px #fff) drop-shadow(-1px 1px 0px #fff) drop-shadow(1px -1px 0px #fff)
}


.card-body {
    border-radius: 0;
    border: #560319 solid 3px;
    border-top: none;
    background: linear-gradient(to bottom, #560319, #FF2400, #fff);
    color: #fff!important;
}

.card-img-top {
    border-radius: 0!important;
    border: #ffe550 solid 3px;
    border-bottom: none;
    transition: 1s;
}

img.card-img-top:hover {
    filter: grayscale(100%)!important
}

.card {
    border-radius: 0!important;
    border: none!important
}

.card-body p {
    scrollbar-width: thin;
    scrollbar-color: #560319 rgba(0, 0, 0, 0);
}

/* Animation (https://codepen.io/P1N2O/pen/pyBNzX) */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}