body{
    overflow-x: hidden;
    background: linear-gradient(-45deg, #fff, #fff, #ffd6d6, #fffbc2, #fffbc2);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 1000%;
    color: #560319!important;
    font-family: "ff-seria", serif!important;
}

body p {
    font-size: 120%
}

h1, h2, h3, h4, h5 {
    font-family: "meursault-variable", serif;
    font-variation-settings: "wght" 800, "wdth" 10;
}
/*^^ https://codepen.io/P1N2O/pen/pyBNzX ^^*/

/* Blurred hero image (https://jsfiddle.net/Will_law/Lo0n9g2y/) */
.heroImage-wrapper{
    width: 100%;
    height: 400px;
    overflow: hidden
}

.heroImage{
    background-image: url(https://marvel-b1-cdn.bc0a.com/f00000000290162/images.ctfassets.net/2htm8llflwdx/56BgnFdpJhvQwonBTZsqD7/d61c705e9187e1dc140dbe4621a24718/Shorelight_RNB_Partner_News_Article.jpg?fit=thumb);
    width: 105%;
    height: 105%;
    margin: -5px;
    filter: blur(5px);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar, footer {
    background: linear-gradient(to left, #560319, #FF2400);
}

footer {
    color: #fff!important
}

footer a {
    color: #ffe550!important;
}

.navbar-brand {
    filter: drop-shadow(1px 1px 0px #fff) drop-shadow(-1px -1px 0px #fff) drop-shadow(-1px 1px 0px #fff) drop-shadow(1px -1px 0px #fff)
}

.club-card {
    border-radius: 0;
    background: #560319!important;
    color: #fff!important;
}

.club-card .card-body {
    scrollbar-width: thin;
    scrollbar-color: #fff rgba(0, 0, 0, 0);
}

.card-img-top {
    border-radius: 0!important;
    border: #ffe550 solid 3px;
    border-bottom: none;
    transition: .5s;
}

img.card-img-top:hover {
    border-bottom: #ffe550 solid 3px
}

.card {
    border-radius: 0!important;
    border: none!important
}

.faculty-card {
    background-color: #fff!important;
    color: black
}

table {
    background-color: #fff;
    color:  #560319;
    border: #ffe550 solid;
}

th {
    background-color: #560319;
    color: #fff;
    border-bottom: #ffe550 double!important;
}

td {
    border: #ffe550 dashed 1px!important
}


iframe {
    border: #ffe550 double 10px!important;
    background-color: #fff;
    transition: .2s
}

iframe:hover {
    border-radius: 10%;
    transform: scale(1.05);
    background-color: #560319;
}

a {
    transition: .5s;
}

a:hover {
    color: #ffdd1c;
    transform: scale(1.05)!important;
}
/* Animation (https://codepen.io/P1N2O/pen/pyBNzX) */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}